{% extends "index.html" %} 
{% block title %}Leaderboard - MDCATExpert{% endblock title %} 
{% block content %}

<div class="container text-center">
  <h1 class="display-10 my-5">Leaderboard</h1>
  <div class="container marketing">
    <!-- Row for leaderboard profiles -->
    <div class="row justify-content-center"> <!-- Centering the row -->
      {% if leaderboard_users|length == 0 %}
      <div class="col-12">
        <h4 class="text-center text-danger">
          No User available on Leaderboard
        </h4>
      </div>
      {% else %}
        {% for rank in leaderboard_users %}
        <div class="col-6 col-sm-4 col-md-3 mb-4"> <!-- Adjust column sizes for different screen widths -->
          <div class="position-relative">
            <img
              src="{{ rank.user.profile.profile_img.url }}"
              class="img-fluid rounded-circle"  
            />
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
              {{ forloop.counter }}
            </span>
            <h2 class="fw-normal">@{{ rank.user.username }}</h2>
            <p>{{ rank.user.profile.bio | truncatewords:5 }}</p>
            <p>
              <a
                class="btn btn-secondary"
                href="{% url 'profile' rank.user.username %}"
              >View Profile »</a>
            </p>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <!-- End of row -->
  </div>
</div>

{% endblock content %}
