{% extends 'index.html' %}

{% block title %} {{quiz.title}} -Marmalade Tech {% endblock title %}

{% block content %}
    <h1 class="display-5 text-center my-5">{{quiz.title}}-({{quiz.question_set.all|length}})</h1>



    <p class="fs-4 text-center container">{{quiz.description}}</p>
    <div class="container">
        <div class="d-flex justify-content-between">
            <span class="fs-5">{{quiz.created_at}}</span>
            <span class="fs-5" id="timer">timer</span>
        </div>
        
        {% for message in messages %}
        <div id ="message-div">
            <h4 class="text-center text-success">{{message}}</h4>
        </div>
        {% endfor %}


        <div class="questions">
            {% for question in quiz.question_set.all %}
            <div class="card mb-2 question">
                <div class="card-header fw-bold">
                    Question {{forloop.counter}}
                </div>
                <div class="cardBody">
                    <p class="card-txt">{{question.text}}</p>
                    {% for option in question.choice_set.all %}
                    <div class="form-check">
                        <label class="form-check-label" for="{{option.id}}">
                            <input class="form-check-input" value="{{option.text}}" type="radio" name="{{option.question.id}}" id="{{option.id}}">
                            {{option.text}}
                        </label>
                        {% if option.is_correct %}
                        <span class="visually-hidden correct-answer" >{{option.text}}</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            
        </div>
        <form action="" method="post" id="quiz-form">
            {% csrf_token %}
            <input type="hidden" name="score" value="0" id="user-score">
            <button type="submit" class="btn btn-primary" id="submit-button">Submit Quiz</button>
        </form>
        
       
    </div>

<script>
    //elements
    var submitButton=document.getElementById("submit-button");
    var timerSpan=document.getElementById("timer");
    var questions = document.querySelectorAll(".question");
    var quizForm=document.getElementById("quiz-form");
    var userScore=document.getElementById("user-score");

    quizDuration=(questions.length) * 60;  
    //timer updation
    function updateTimer(){
        //console.log("Timer");
        var minutes=Math.floor(quizDuration/60);
        var seconds=quizDuration % 60;

        timerSpan.innerText=minutes + "min" + " "+seconds +"sec"
        
        //check if timer has ended
        if (quizDuration <= 0){
            //automatically quiz is submitted
            clearTimeout(quiz_timer_id);
            submitQuiz();
        }else if(document.getElementById("message-div")){
            clearTimeout(quiz_timer_id);
            highlightCorrectAnswers();
        }
        else{
            //decrement timer
            quizDuration--;
        }
    }

    //Quiz SUbmit function
    function submitQuiz(){
        //console.log("Quiz Submission");
        //calculate score firstly
        calculateScore()
        //submit quiz automaticallt or with button
        quizForm.submit()
    }

    function calculateScore(){
        //console.log("score calculate")
        var score=0;
        
        questions.forEach(question=>{
            var selectedInput=question.querySelector('input:checked');
            var correctAnswer=question.querySelector(".correct-answer").innerText;

            if (selectedInput && selectedInput.value === correctAnswer){
                score+=1;
            }
        });
        //update hidden input field 
        userScore.value=score;

    }
    //check answers and calculate score

    //highlight correct answers while showing result
    function highlightCorrectAnswers(){
        questions.forEach(question=>{
             var CorrectAnswer = question.querySelector(".correct-answer");
             CorrectAnswer.previousElementSibling.querySelector("input").classList.add("bg-success");
             CorrectAnswer.previousElementSibling.classList.add("fw-bold");
        })

        //disable choices and submitbuttoon
        submitButton.disabled=true;
        var options=document.querySelector("form-check-input");
        options.forEach(option=>{
            option.disabled=true;
        })
    }

    //attach event listerner
    submitButton.addEventListener("click",submitQuiz);
    
    //timer interval 
    quiz_timer_id = setInterval(updateTimer,1000);

</script>

{% endblock content %}